$color-primary: #55c57a;
$color-primary-darker: #7ed56f;
$color-primary-lighter: #28b485;

$color-secondary: #ffb900;
$color-secondary-darker: #ff7730;

$color-tertiary: #2998ff;
$color-tertiary-darker: #56c6ff;

$color-gray: #777;
$color-gray-2: #999;
$color-gray-3: #333;

$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
