.composition {
  position: relative;

  &__photo {
    outline-offset: 2rem;
    position: absolute;
    z-index: 10px;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    transition: all 0.3s;

    &-p1 {
      top: 0;
      left: 0;
    }

    &-p2 {
      top: 4rem;
      right: 3rem;
    }
    &-p3 {
      left: 6rem;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 2rem 5rem rgba($color-black, 0.2);
      z-index: 20;
      outline: 1rem solid $color-primary;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
