.story {
  width: 75%;
  background-color: rgba($color-white, 0.6);
  padding: 6rem;
  margin: 0 auto;
  transform: skew(-12deg);
  box-shadow: 0 3rem 5rem rgba($color-black, 0.15);

  &:not(:last-child) {
    margin-bottom: 8rem;
  }
  & > * {
    transform: skew(12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skew(12deg);
    position: relative;
  }
  &__img {
    height: 100%;
    transform: translate(-4rem) scale(1.4);
    transition: all 0.3s;
  }

  &:hover &__img {
    transform: translate(-4rem) scale(1);
    filter: blur(4px) brightness(90%);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    transition: transform 0.3s;
    opacity: 0;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  @include response(phone) {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transform: skew(0deg);

    & > * {
      transform: skew(0deg);
      text-align: center;
    }

    &__shape {
      float: none;
    }
  }
}
