.primary-heading {
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveFromLeft;
    animation-duration: 0.7s;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;

    animation-name: moveFromRight;
    animation-duration: 0.7s;
  }

  @include response(phone) {
    margin-bottom: 3rem;

    &--main {
      font-size: 4rem;
      letter-spacing: 2.5rem;
    }

    &--sub {
      font-size: 1.5rem;
      letter-spacing: 1.25rem;
    }
  }
}

.secondary-heading {
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;

  //   display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    $color-primary-lighter,
    $color-primary-darker
  );

  @include response(phone) {
    font-size: 2.5rem;
  }

  //   transition: all 0.3s;

  //   &:hover {
  //     text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  //     transform: skewY(-2deg) skewX(15deg) scale(1.1);
  //   }
}

.tertiary-heading {
  text-transform: uppercase;
  font-weight: 700;

  font-size: 1.7rem;
}

p {
  margin-bottom: 2rem;
  color: $color-gray;
}
