.about {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: $color-gray-light-1;

  &__content {
    @include max-xl;
    margin: 6rem auto;

    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 6rem;

    > * {
      flex: 1;
    }
  }
}

.features {
  padding: 25rem 0;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
  margin-top: -20vh;
  background: linear-gradient(
      to right bottom,
      rgba($color-primary-lighter, 0.8),
      rgba($color-primary-darker, 0.8)
    ),
    url("/img/nat-4.jpg");

  .features__boxes {
    @include max-xl;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}

.tours {
  padding: 25rem 0 15rem 0;

  background-color: $color-gray-light-1;
  margin-top: -10rem;

  &__cards {
    max-width: 1140px;
    margin: 8rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

.stories {
  padding: 15rem 0;
  position: relative;
}

.booking {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-lighter, 0.8),
    rgba($color-primary-darker, 0.8)
  );

  padding: 15rem;

  &__form {
    height: 50rem;
    border-radius: 3px;
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 50%,
        transparent 50%
      ),
      url("/img/nat-10.jpg");
    background-size: cover;
    border-radius: 3px;
  }
}
